/* stili generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* stili header */
h1{
    font-size: 30px;
    text-align: center;
    color: red;
    padding:15px ;
}

/* stili main */

.container{
    
    width: 1100px;
    height: 500px;
    margin: auto;
    text-align: center;
    background-color:white;
}

p{
    padding-top: 20px;
    font-size: 20px;
}

.card{
    width: 350px;
    height: 90px;
     margin-right: 25px;
    margin-top: 50px;
    float: left;
    background-color: rgb(4, 35, 88);
   
}

img{
    float: left;
    width: 30%;
    height: 89px ;
}

section{
    color: white;
    text-align: left;
    margin-left: 100px;
    padding: 10px ;
}
.email{
    color: rgb(42, 141, 255);
}

.last_card{
     width: 350px;
    height: 90px;
     margin-right: 0px;
    margin-top: 50px;
    float: left;
    background-color: rgb(4, 35, 88);
    

}
   